.dtm__in--mv .ticket > .ticket__group {
    display: block;
}

.dtm__in--mv .ticket__item {
    width: 100%;
}

.dtm__in--mv .ticket__card--info {
    padding: 0 0 1rem;
}

.dtm__in--mv .ticket__header {
    flex: 0 1 100%;
    width: 100%;
    height: auto;
}

.dtm__in--mv .ticket__title {
    width: 100%;
}

.dtm__in--mv .ticket__title span {
    font-size: 2em;
}

.dtm__in--mv .ticket__item--options {
    max-width: none;
}

.dtm__in--mv .ticket__item--options > .ticket__group {
	flex-wrap: wrap;
}

.dtm__in--mv .ticket__item--options .ticket__card {
    display: flex;
    align-items: stretch;
    margin: 0.25em;
    flex-wrap: wrap;
    padding: 0;
    flex: 1 1 40%;
}

@media all and (orientation: portrait) {
	.dtm__in--mv .ticket__item--options .ticket__card {
		flex: 1 1 100%;
	}
}

.dtm__in--mv .ticket__item--options .ticket__header,
.dtm__in--mv .ticket__item--options ul {
    flex: 0 1 50%;
    padding: 0.5em;
}

.dtm__in--mv .ticket__item--options .ticket__header {
	background: #f0f0f0;
}

.dtm__in--mv .ticket__item--options ul {
	margin: 0;
	width: 100%;
}

.ticket__card > .button {
    display: none;
}

.ticket__directive {
	display: none;
}

.dtm__in--mv .ticket li {
	height: auto;
}

.dtm__in--mv .ticket li:first-of-type {
    border-top: none;
}

.dtm__in--mv .ticket li:last-child {
    border-bottom: none;
}

.dtm__in--mv .ticket__disable {
    display: none;
}