@mixin scroll {
    .scroll {
        $this: &;

        #{$this}__order {
            display: flex;
            flex-wrap: wrap;
        }

        &--first {
            #{$this}__order {
                max-height: 0;
                opacity: 0;
                transform: translateY(10%);

                transition: 
                    transform .3s ease-in-out,
                    opacity .3s ease-in-out,
                    max-height 1s ease-in-out;
            }
        }

        &--last {
            #{$this}__order {
                max-height: 10em;
                opacity: 1;
                transform: translateY(0);

                transition: 
                    max-height 1s ease-in-out,
                    opacity .3s ease-in-out .5s,
                    transform .3s ease-in-out .5s;
                

            }
        }
    }
}

@mixin dtm-scroll {
    .dtm__in--mv {
        .scroll {
            &--last {
                /*
                .scroll__order {
                    display: flex;
                    padding-top: 0.5rem;
                    width: 100%;
                }
                */
            }
        }
    }
}