@import "../utilities/extend";
@import "../utilities/media-queries";

@mixin button ( $button : () ) {
    $button: extend(
        (
            background: #ff7200,
            hover-background: #ff5a00,
            font-name: 'Gotham Black'
        ), $button
    );

    .btn {
        display: inline-block;
        padding: .75em 1.25em;
        position: relative;
        border-radius: .5em;
        max-width: none;
        background: none;
        border: none;
        cursor: pointer;
        font: 2.1rem/1 #{map-get($button, font-name)}, sans-serif;
        text-align: center;
        text-decoration: none;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
        color: white;
        background-color: #{map-get($button, background)};

        &:hover,
        &:focus {
            background: #{map-get($button, hover-background)};
        }
    }
}

@mixin button--rect {
    .btn {
        &--rect {
            padding: .75em;
        }
    }

    .dtm {
        &__in {
            &--mv {

                .btn {
                    @include portrait {
                        &--rect {
                            font-size: .8em;
                            padding: .7em 1em .8em;
                        }
                    }
                }
            }

        }
    }
}

@mixin button--card {
    .btn {
        &--card {
            font-size: 1.8rem;
            text-transform: uppercase;
            padding: .75em 1em;
            transition: all .2s ease-in-out;

            &:link,
            &:visited {
                color: white;
                text-decoration: none;
            }

            &.is-selected {
                background: #c0c0c0;
            }
        }
    }

    .dtm__in--mv {
        .btn--card {
            font-size: 1.2rem;
        }
    }
}

@mixin button--cart ( $button--cart : () ) {
    $button--cart: extend(
        (
            background: #252525
        ), $button--cart
    );

    .btn {
        &--cart {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            background: #{map-get($button--cart, background)};

            &::before {
                content: '';
                display: inline-block;
                width: 1.5em;
                height: 1.25em;
                background: url(/shared/images/order-progress/cart.svg) no-repeat;
                margin-right: .25em;
            }

            @content;
		}
    }
};

@mixin button--continue ( $button--continue : () ) {
    $button--continue: extend(
        (
            background: #252525,
            hover-background: #ededed
        ), $button--continue
    );

    .btn {
        &--continue {
            background: #cb2121;
            text-shadow: none;
            padding: 0.7em 3em;
            font-size: 1.9rem;
            &:hover,
            &:focus {
                background: #810c0c;
                transition: background 0.25s;
            }
        }
    }
}

.dtm__in .button {
    font-size: 2.7rem;
    padding: 0.15em 1em;
}