$colors-default: (
    first: #333333,
    second: white
);

$colors-theme: (
    first: #0e529e,
    second: #f84100,
    third: #ffe743,
    fourth: #5ec1ff,
    fifth: #622902,
    sixth: #fdb110
);